@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/Open-sans/OpenSans-Bold.woff2") format("woff2"), url("/fonts/Open-sans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/Open-sans/OpenSans-Regular.woff2") format("woff2"), url("/fonts/Open-sans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("/fonts/Raleway/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("/fonts/Raleway/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #1b2330;
  font-family: 'Raleway';
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo img {
  width: 100px;
  height: 30px;
  display: block;
}

.header .container .nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .nav ul li {
  width: 70px;
  text-align: right;
}

.header .container .nav ul li a {
  text-decoration: none;
  color: #dde4ec;
  font-weight: 400;
}

.header .container .nav ul li a:hover {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .header .container {
    min-height: 80px;
    padding-top: 30px;
  }
  .header .container .nav ul {
    gap: 40px;
  }
  .header .container .logo img {
    width: 130px;
    height: 40px;
  }
}

.hero {
  background-color: #1b2330;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container .hero__img {
  max-width: 700px;
  width: 100%;
}

.hero .container .hero__content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.hero .container .hero__content h1 {
  font-family: 'Raleway';
  font-size: 26px;
  margin-top: 40px;
  line-height: 40px;
}

.hero .container .hero__content p {
  color: #bcbfc2;
  margin-top: 40px;
  line-height: 24px;
}

.hero .container .hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 240px;
  height: 45px;
  text-decoration: none;
  color: #fff;
  background-color: #42b3d1;
  border-radius: 50px;
  font-size: 16px;
  margin: 30px auto 0;
  font-weight: 700;
}

.hero .container .hero__link:hover {
  background-color: #8cdae4;
}

.hero .hero__wave {
  background-color: #181f2b;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 320px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  z-index: -1;
}

.hero .hero__wave img {
  position: absolute;
  bottom: 320px;
  width: 100%;
  max-height: 140px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media (min-width: 1024px) {
  .hero .container .hero__content h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .hero .container .hero__content p {
    font-size: 18px;
    padding: 0 80px;
  }
  .hero .hero__wave {
    height: 100px;
  }
  .hero .hero__wave img {
    bottom: 100px;
    min-height: 280px;
  }
}

.service {
  background-color: #181f2b;
  padding-top: 60px;
}

.service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .container .service__item {
  max-width: 340px;
  min-height: 260px;
  text-align: center;
  margin-bottom: 40px;
}

.service .container .service__item .service__item__img {
  max-width: 80px;
  height: 60px;
  margin-bottom: 30px;
}

.service .container .service__item .service__item__title {
  font-size: 22px;
  font-family: 'Raleway';
  margin-bottom: 12px;
}

.service .container .service__item .service__item__paragraph {
  line-height: 24px;
  color: #a4aab4;
}

@media (min-width: 821px) {
  .service .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
  }
  .service .container .service__item {
    max-width: 390px;
  }
}

.productivity {
  background-color: #181e2a;
  padding: 60px 0;
  margin: -1px 0;
}

.productivity .container .productivity__img {
  max-width: 600px;
  width: 100%;
}

.productivity .container .productivity__content {
  padding-top: 60px;
}

.productivity .container .productivity__content .productivity__title {
  font-size: 20px;
  font-family: 'Raleway';
  margin-bottom: 20px;
}

.productivity .container .productivity__content .productivity__paragraph {
  color: #a2a7ad;
  margin-bottom: 20px;
}

.productivity .container .productivity__content .productivity__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #468384;
  border-bottom: 2px solid;
  width: 180px;
  height: 40px;
  text-decoration: none;
}

.productivity .container .productivity__content .productivity__link svg {
  width: 25px;
  height: 30px;
}

.productivity .container .productivity__content .productivity__link svg path {
  -webkit-transform: scale(1.8, 2);
          transform: scale(1.8, 2);
  padding: 10px;
}

@media (min-width: 768px) {
  .productivity .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productivity .container .productivity__content {
    text-align: center;
    max-width: 600px;
    padding-top: 60px;
  }
  .productivity .container .productivity__content .productivity__link {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .productivity .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productivity .container .productivity__content {
    text-align: left;
    max-width: 520px;
    padding: 0 0 0 20px;
  }
  .productivity .container .productivity__content .productivity__link {
    margin-left: 0;
  }
  .productivity .container .productivity__content .productivity__link:hover {
    color: #a2a7ad;
  }
  .productivity .container .productivity__content .productivity__link:hover use {
    fill: #fff;
  }
}

.team {
  background-color: #181e2a;
  padding: 120px 0 360px;
  color: #a2a7ad;
}

.team .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 40px;
}

.team .container .card {
  max-width: 360px;
  background-color: #21293c;
  padding: 24px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px #1a212b;
          box-shadow: 0 0 5px 5px #1a212b;
}

.team .container .card .card__copy {
  line-height: 25px;
}

.team .container .card .card__author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px auto;
      grid-template-columns: 55px auto;
  -ms-grid-rows: 25px 25px;
      grid-template-rows: 25px 25px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px;
}

.team .container .card .card__author .card__author__img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: auto 0;
}

.team .container .card .card__author .card__author__name {
  font-size: 18px;
  font-weight: 700;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.team .container .card .card__author .card__author__rank {
  font-size: 14px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media (min-width: 768px) {
  .team .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    grid-column-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .team .container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team .container .card {
    max-width: 400px;
  }
}

.sign__up {
  background-color: #0c1524;
  margin: -1px 0;
}

.sign__up .container .sign__up__card {
  max-width: 900px;
  min-height: 200px;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #1b2330;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sign__up .container .sign__up__card .sign__up__title {
  font-size: 20px;
  font-family: 'Raleway';
  margin-bottom: 20px;
}

.sign__up .container .sign__up__card .sign__up__copy {
  color: #a2a7ad;
  line-height: 22px;
  margin-bottom: 30px;
}

.sign__up .container .sign__up__card .mail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  max-width: 400px;
  margin: 0 auto;
}

.sign__up .container .sign__up__card .mail__item {
  height: 45px;
  border-radius: 50px;
  border: none;
}

.sign__up .container .sign__up__card .mail__input {
  padding-left: 15px;
  outline: none;
}

.sign__up .container .sign__up__card .mail__input__error {
  color: #e96666;
  text-align: left;
  padding: 5px 0 0 20px;
}

.sign__up .container .sign__up__card .mail__btn {
  margin-top: 20px;
  background-color: #70c7df;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .sign__up .container .sign__up__card .sign__up__title {
    font-size: 32px;
  }
  .sign__up .container .sign__up__card .sign__up__copy {
    max-width: 700px;
    margin: 0 auto 40px;
  }
  .sign__up .container .sign__up__card .mail {
    -ms-grid-columns: 500px auto;
        grid-template-columns: 500px auto;
    max-width: 750px;
    grid-column-gap: 20px;
  }
  .sign__up .container .sign__up__card .mail__input {
    max-width: 500px;
    width: 100%;
    padding-left: 30px;
  }
  .sign__up .container .sign__up__card .mail__btn {
    max-width: 220px;
    width: 100%;
    margin: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .sign__up .container .sign__up__card .mail__btn:hover {
    background-color: #93d5e7;
  }
}

.footer {
  background-color: #0c1524;
  color: #a2a7ad;
  padding-bottom: 60px;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.footer .container .footer__logo .footer__logo__icon img {
  width: 180px;
  height: 58px;
  margin-bottom: 25px;
}

.footer .container .footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 20px;
  line-height: 24px;
  max-width: 460px;
  margin-bottom: 40px;
}

.footer .container .footer__content img {
  padding-top: 5px;
}

.footer .container .footer__contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 15px;
  max-width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 40px;
  margin: 60px 0;
}

.footer .container .footer__menu .footer__menu__list {
  list-style-type: none;
  width: 120px;
}

.footer .container .footer__menu .footer__menu__list a {
  text-decoration: none;
  color: #a2a7ad;
  line-height: 35px;
}

.footer .container .footer__menu .footer__menu__list a:hover {
  color: #fff;
  font-weight: 700;
}

.footer .container .social__messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.footer .container .social__messenger .social__messenger__link {
  text-decoration: none;
  border: 1px solid #a2a7ad;
  border-radius: 50px;
}

.footer .container .social__messenger .social__messenger__link:hover {
  border: 1px solid #60ddd5;
}

.footer .container .social__messenger .social__messenger__link:hover path {
  fill: #60ddd5;
}

.footer .container .social__messenger .social__messenger__link svg {
  width: 32px;
  height: 32px;
  display: block;
  padding: 8px;
}

.footer .container .social__messenger .social__messenger__link path {
  fill: #fff;
}

@media (min-width: 768px) {
  .footer .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: 80px 160px auto;
        grid-template-rows: 80px 160px auto;
    grid-row-gap: 40px;
  }
  .footer .container .footer__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 0;
  }
  .footer .container .footer__contact {
    grid-row-gap: 10px;
    grid-auto-rows: 25px;
  }
  .footer .container .footer__menu {
    max-width: 300px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin: 0;
  }
  .footer .container .social__messenger {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 30px;
  }
}

@media (min-width: 1024px) {
  .footer .container {
    -ms-grid-columns: auto auto auto 140px;
        grid-template-columns: auto auto auto 140px;
    grid-row-gap: 20px;
  }
  .footer .container .footer__content {
    margin-top: 5px;
  }
  .footer .container .footer__contact {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 5px;
    padding-left: 10px;
  }
  .footer .container .footer__menu {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 0 80px;
  }
  .footer .container .social__messenger {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */