.footer{
  background-color: rgb(12, 21, 36);
  color: rgb(162, 167, 173);
  padding-bottom: 60px;

  .container{
    display: grid;
    grid-template-columns: auto;

    .footer__logo{
      .footer__logo__icon img{
        width: 180px;
        height: 58px;
        margin-bottom: 25px;
      }
    }
    .footer__content{
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 20px;
      line-height: 24px;
      max-width: 460px;
      margin-bottom: 40px;

      img{padding-top: 5px;}
    }
    .footer__contact{
      display: grid;
      grid-template-columns: auto auto;
      grid-row-gap: 15px;
      max-width: 180px;
      align-items: center;
    }
    .footer__menu{
      display: grid;
      grid-template-columns: auto;
      gap: 40px;
      margin: 60px 0;

      .footer__menu__list{list-style-type: none; width: 120px;}
      .footer__menu__list a{text-decoration: none; color: rgb(162, 167, 173); line-height: 35px;}
      .footer__menu__list a:hover{color: #fff; font-weight: 700;}
    }
    .social__messenger{
      display: flex;
      justify-content: center;
      gap: 20px;
      .social__messenger__link{text-decoration: none; border: 1px solid rgb(162, 167, 173); border-radius: 50px;}
      .social__messenger__link:hover{border: 1px solid rgb(96, 221, 213); path{fill: rgb(96, 221, 213);}}
      .social__messenger__link svg{width: 32px; height: 32px; display: block; padding: 8px;}
      .social__messenger__link path{fill: #fff;}
    }
  }
}

@media(min-width: 768px){
  .footer{
    .container{
      grid-template-columns: auto auto;
      grid-template-rows: 80px 160px auto;
      grid-row-gap: 40px;

      .footer__content{
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
      }
      .footer__contact{
        grid-row-gap: 10px;
        grid-auto-rows: 25px;
      }
      .footer__menu{
        max-width: 300px;
        grid-template-columns: auto auto;
        margin: 0;
      }
      .social__messenger{
        justify-content: left;
        padding-left: 30px;
      }
    }
  }
}

@media(min-width: 1024px){
  .footer{
    .container{
      grid-template-columns: auto auto auto 140px;
      grid-row-gap: 20px;

      .footer__content{margin-top: 5px;}
      .footer__contact{grid-row: 2/3; margin-top: 5px; padding-left: 10px;}
      .footer__menu{grid-row: 2/3; margin: 0 80px;}
      .social__messenger{grid-row: 2/3;align-items: flex-start; padding: 0;}
    }
  }
}